jupyter
jupyterlab
cython
numpy
pandas
matplotlib
folium
lxml
nltk
pysam
scikit-learn
seaborn
matplotlib_venn
scanpy
logomaker
PyWavelets
python-Levenshtein
openpyxl
mpl-scatter-density
statsmodels
biopython
snapgene_reader
codon_bias
tensorly